DEBUG=1
SECRET_KEY=p97u1$7en$=foy)s8)i!+x-d3!qj+=mlu0r0nordj7i##l(td&
# DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DJANGO_ALLOWED_HOSTS=*
# Postgres
DB_HOST=postgres
DB_NAME=snippetdb
DB_USER=snippetadmin
DB_PASS=snippetAdmin!
DB_PORT=5432